.ballet-<ballet> {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Ballet";
    font-size: 10vw;
    font-weight: normal;
    text-align: center;
    padding-top: 40px;
}

body {
    font-family: "IBM Plex Mono";
    font-weight: normal;
    text-align: center;
}

h2 {
    font-weight: normal;
}

.container {
  margin-top: 5vh;
}

img {
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.imgside {
  overflow: scroll;
  max-height: 60vh;
  width: 50%;
}

ul {
  list-style-position: inside;
}
