.ballet-<ballet> {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Ballet";
    font-size: 10vw;
    font-weight: normal;
}

body {
    font-family: "IBM Plex Mono";
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

